@font-face {
    font-family: "TT Norms";
    src: url("../../fonts/TTNorms-Bold.ttf") format("ttf"), url("../../fonts/TTNorms-Bold.woff") format("woff");
    src: url("../../fonts/TTNorms-Medium.ttf") format("ttf"), url("../../fonts/TTNorms-Medium.woff") format("woff");
    src: url("../../fonts/TTNorms-Regular.ttf") format("ttf"), url("../../fonts/TTNorms-Regular.woff") format("woff");
}

