@mixin titleBlue {
  font-family: "TT Norms", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

@mixin textMenu {
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
}
@mixin textMenuMobile {
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

@mixin textHero {
  font-family: "TT Norms", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
}

@mixin textHeroMOBILE {
  font-family: "TT Norms", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

@mixin textH3 {
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@mixin textH4 {
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@mixin textIntroduction {
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}

@mixin textParagraph {
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

@mixin textH3Caps{
  font-family: "TT Norms", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin  textDate {
  font-family: "TT Norms", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin  textCooperate {
  font-family: "TT Norms", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
@mixin  textTell {
  font-family: "TT Norms", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
@mixin  textLogo {
  font-family: "TT Norms", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 45px;
}
@mixin  textAdvantages {
  font-family: "TT Norms", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}
@mixin  textTeamTitle {
  font-family: "TT Norms", sans-serif;
  font-size: 96px;
  line-height: 113px;
  text-align: center;
  letter-spacing: 63px;
  text-transform: uppercase;
  opacity: 0.8;
  text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);
}
@mixin  textTeamTitleMobile {
  font-family: "TT Norms", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 20px;
  text-transform: uppercase;
  opacity: 0.8;
  text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);
}

@mixin GradientRedText {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F0145A;
}
