@import "../../common/mixins";
@import "../../common/variables";

.advantages {
  margin: 0 172px;

   &__wrapper {
     display: flex;
   }

  &__introduction {
    max-width: 641px;
    margin-right: 42px;
  }

  &__title {
    @include textHero;
    @include GradientRedText;
    margin-bottom: 20px;
  }

  &__descriptions {
    @include textIntroduction;
    color: #000;
  }


  &__item:nth-child(1), &__item:nth-child(2) {
    padding-bottom: 40px;
  }

  &__item {
    padding-left: 20px;
    border-left: 4px solid $GreySeparator;
  }

  &__iconwrap {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__item span {
    @include textAdvantages;
    @include GradientRedText;
  }
  &__item p {
    margin-top:5px ;
    @include textH4;
    color: $MainRegular;
  }
}

@media (max-width: 767px) {
  .advantages {
    margin: 20px;

    &__wrapper {
      flex-direction: column;
    }

    &__introduction {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__title {
      @include textHeroMOBILE;
      margin-bottom: 20px;
    }

    &__descriptions {
      @include textParagraph;
    }

    &__advantagwrap {
      padding-top: 15px;
      border-top: 2px solid $GreySeparator;
    }

    &__item:nth-child(1), &__item:nth-child(2) {
      padding-bottom: 20px;
    }

    &__item {
      padding-left: 0;
      border-left: none;
    }
  }
}


