@import "../../common/mixins";
@import "../../common/variables";

.moredescription {

  &__wrapper {
  display: flex;
  }

  &__text {
    @include textIntroduction;
    color: #000;
    margin-right: 40px;
    max-width: 641px;
  }

  &__title {
    @include textHero;
    @include GradientRedText;
  }
}

@media (max-width: 767px) {
  .moredescription {

    &__wrapper {
      flex-direction: column;
    }

    &__text {
      @include textParagraph;
      margin-right: 0;
    }

    &__title {
      @include textHeroMOBILE;
      margin-top: 20px;
    }
  }
}
