.wrapper-forma {
    padding: 1% 0 3% 0;
    margin: 0 30%;

}

.wrapper-forma_black {
    padding: 1% 0 3% 0;
    margin: 0 30%;
    background-color: rgb(10, 10, 99);
    border: solid 2px #fff;
    border-radius: 30px;

}

.forma {
    display: flex;
    flex-direction: column;
    margin: 0 13%;
    align-items: center;
}

.forma input {
    width: 100%;
    height: 40px;
    margin-bottom: 3%;
    border-radius: 10px;
    padding-left: 10px;
}

.forma div {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.forma button {
    width: 150px;
    padding: 5px;
    border-radius: 30px;
}

.close {
    background-color: firebrick;
}

.add {
    background-color: aquamarine;
}