.list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
}

.title {
    display: flex;
    margin: 5px 0;
    font-weight: 600;
    border-bottom: 3px solid rgb(138, 40, 40);
    padding-right: 20%;
}

.title span {
    margin-right: 1%;
    padding-left: 1%;
    flex-basis: 230px;
    text-align: left;
}



.wrapper-contacts {
    padding: 0 30%;
    margin-bottom: 50px;
}