@import "../common/mixins";
@import "../common/variables";


.FooterWrapper {
  background-color: $GreyBg;
  
    &__footer {
      max-width: 1440px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      border-top: 4px solid $GreySeparator;
      padding: 32px 60px 40px 60px;

      &__contact {

      }

      &__addressWrapper {
        display: flex;
        margin-bottom: 22px;
        align-items: center;
      }

      &__address {
        @include textCooperate;
        color: $MainRegular;
        margin-right: 37px;
      }

      &__map {
        @include textDate;
        color: $ActiveRegular;
      }

      &__map::before {
        content: "";
        display: inline-block;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        margin-bottom: 1px;
        margin-right: 10px;
        background-color: $GreyText;
      }

      &__contactsWrapper {
        display: flex;
        align-items: center;
      }

      &__tell {
        @include textTell;
        color: $MainAlt;
        margin: 0 16px 0 18px;
      }

      &__tell::before {
        content: "";
        display: inline-block;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        margin-bottom: 1px;
        margin-right: 5px;
        background-color: $GreyText;
      }

      &__mail:hover, &__tell:hover, &__map:hover {
        color: $Accent;
      }

      &__mail {
        @include textTell;
        color: $ActiveRegular;
      }

      &__mail::before {
        content: "";
        display: inline-block;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        margin-bottom: 1px;
        margin-right: 10px;
        background-color: $GreyText;
      }

      &__cooperate {
        @include textCooperate;
        color: $GreyText;
      }
    }
}

@media (max-width: 767px) {
  
  .FooterWrapper {
      &__footer {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 118px 20px;

      &__contact {
        margin-bottom: 20px;
      }

      &__addressWrapper {
        flex-direction: column;
        margin-bottom: 20px;
      }

      &__address {
        font-weight: bold;
        margin-right: 0;
        margin-bottom: 10px;
      }

      &__map::before {
        content: none;
      }

      &__contactsWrapper {
        flex-direction: column;
      }

      &__tell {
        margin: 20px  0;
      }

      &__tell::before {
        content: none;
      }

      &__mail::before {
        content: none;
      }

      &__cooperate {
        margin: 0 20px;
        text-align: center;
      }
    }
}
}

